<%- include('partials/header') -%>
  <meta
    name="description"
    content="More Movies is a website to see info, Netflix, Top Rated, Romance, Action, Horror and Documentary Movies..."
  />
  <title>Action Movies - More Movies</title>
  <script>
    function goBack() {
      window.history.back()
    }
  </script>

  <body>

    <div class="pl-3 mt-4">
      <button onclick="goBack()" class="btn btn-secondary">Go Back</button>
      <h2>Action Movies</h2>
    </div>

    <div class="container">
      <div class="row p-3">
        <% for( let i = 0; i < info.results.length; i++ ) { %>

          <% if (info.results[i].poster_path) { %>
          <div class="col-md-4 col-lg-3 mb-4">
            <a href=/movie/<%= info.results[i].id %>/<%= kebabCase(info.results[i].title) %>>
              <img
              class="poster_path mt-3 mb-3"
              src="<%= image + info.results[i].poster_path %>"
              class="card-img-top"
              alt="<%= info.results[i].title %>"
            />
            </a>
            <div class="card-body mtc">
              <h5 class="card-title text-truncate">
                <a href=/movie/<%= info.results[i].id %>/<%= kebabCase(info.results[i].title) %>
                  ><%= info.results[i].title %>
                </a>
              </h5>
              <p class="card-text font-weight-bold">
                  <%=  new Date(info.results[i].release_date).toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric'}) %>
              </p>
            </div>
          </div>
          <% } %>

        <% } %>
      </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item <% if (page <= 1) { %>
            disabled
          <% } %>">
            <a class="page-link" href="/action/page/<%= page - 1 %>">Previous</a>
          </li>
          <li class="page-item <% if (page == info.total_pages) { %>
            disabled
          <% } %>">
            <a class="page-link" href="/action/page/<%= ++page %>">Next</a>
          </li>
        </ul>
    </nav>


<%- include('partials/footer') -%>
