<%- include('partials/header') -%>

<div class="image-wrap">
  <div class="img-content">
    <img src="<%= image + requestedcomedyMovieBackdropImage %>" alt="" />
  </div>
  <div class="overlay"></div>
</div>
<div class="banner-content">
  <div>
    <div class="row no-gutters">
      <div class="col-md-4">
        <img
          src="<%= image + requestedcomedyMoviePosterImage %>"
          class="card-img poster"
          alt="<%= requestedcomedyMovieName %><%= requestedcomedyMovieTitle %>"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <a
            target="_blank"
            href="https://www.google.com/search?q=<%= requestedcomedyMovieName %><%= requestedcomedyMovieTitle %> film"
          >
            <h1 class="card-title">
              <%= requestedcomedyMovieName %><%= requestedcomedyMovieTitle %>
            </h1>
          </a>
          <p class="card-text text-left"><%= comedyMovieOverview %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
