<%- include('partials/header') -%>
  <meta
    name="description"
    content="<%= documentariesMovieOverview.substring(0, 150) + '...' %>"
  />
  <title><%= requesteddocumentariesMovieName %><%= requesteddocumentariesMovieTitle %></title>

  <body>

    <div class="image-wrap">
      <div class="img-content">
        <img src="<%= image + requesteddocumentariesMovieBackdropImage %>" alt="" />
      </div>
      <div class="overlay"></div>
    </div>
    <div class="banner-content">
      <div>
        <div class="row no-gutters">
          <div class="col-md-4">
            <img
              src="<%= image + requesteddocumentariesMoviePosterImage %>"
              class="card-img poster"
              alt="<%= requesteddocumentariesMovieName %><%= requesteddocumentariesMovieTitle %>"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <a
                target="_blank"
                href="https://www.google.com/search?q=<%= requesteddocumentariesMovieName %><%= requesteddocumentariesMovieTitle %> film"
              >
                <h1 class="card-title">
                  <%= requesteddocumentariesMovieName %><%= requesteddocumentariesMovieTitle %>
                </h1>
              </a>
              <p class="card-text text-left"><%= documentariesMovieOverview %></p>
            </div>
          </div>
        </div>
      </div>
    </div>

<%- include('partials/footer') -%>
