<%- include('partials/header') -%>
  <meta
    name="description"
    content="More Movies is a website to see Trending, Netflix, Top Rated, Romance, Action, Horror and Documentary Movies..."
  />
  <title> Home - More Movies</title>

  <body>

    <div 
      class="jumbotron rounded-0" 
      style="
        background-image: url('https://themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,032541,01b4e4)<%= trending.results[0].backdrop_path %>');
        background-position: center;
        background-size: cover;"
    >
      <h2 class="text-white display-4 text-bold">Welcome.</h2>
      <h3 class="text-white">Millions of movies, TV shows and people to discover. Explore now.</h3>

      <form class="d-flex my-4 input-group" action="/search" method="POST">
        <input
          class="form-control py-4  amber-border"
          type="search"
          name="query"
          autocorrect="off" 
          autofill="off" 
          autocomplete="off"
          placeholder="Search for a movie, tv show, person..."
          aria-label="Search"
        />
        <div class="input-group-append">
          <button class="btn btn-info" type="submit">Search</button>
        </div>
      </form>
      
    </div>

    <h2 class="pl-3 mt-4">Trending Now</h2>

    <div class="container">
      <div class="row p-3">
        <% for( let i = 0; i < trending.results.length; i++ ) { %>
          <% if (trending.results[i].media_type == 'movie') { %>
          <div class="col-md-4 col-lg-3 mb-4">
            <a href=/movie/<%= trending.results[i].id %>-<%= kebabCase(trending.results[i].title) %>>
              <img
              class="card-img-top poster_path mt-3 mb-3"
              src="<% if (trending.results[i].poster_path) {  %>
                <%= image + trending.results[i].poster_path %>
                <% } else {  %>
                /images/no-image.jpg
                <% } %>"
              alt="<%= trending.results[i].title %>"
            />
            </a>
            <div class="card-body">
              <h5 class="card-title text-truncate">
                <a href=/movie/<%= trending.results[i].id %>-<%= kebabCase(trending.results[i].title) %>
                  ><%= trending.results[i].title %>
                </a>
              </h5>
              <p class="card-text font-weight-bold">
                  <%=  new Date(trending.results[i].release_date).toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric'}) %>
              </p>
            </div>
          </div>
          <% } %>
          <% if (trending.results[i].media_type == 'tv') { %>
          <div class="col-md-4 col-lg-3 mb-4">
            <a href=/tv/<%= trending.results[i].id %>-<%= kebabCase(trending.results[i].name) %>>
              <img
              class="card-img-top poster_path mt-3 mb-3"
              src="<% if (trending.results[i].poster_path) {  %>
                <%= image + trending.results[i].poster_path %>
                <% } else {  %>
                /images/no-image.jpg
                <% } %>"
              alt="<%= trending.results[i].name %>"
            />
            </a>
            <div class="card-body">
              <h5 class="card-title text-truncate">
                <a href=/tv/<%= trending.results[i].id %>-<%= kebabCase(trending.results[i].name) %>
                  ><%= trending.results[i].name %>
                </a>
              </h5>
              <p class="card-text font-weight-bold">
                  <%=  new Date(trending.results[i].first_air_date).toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric'}) %>
              </p>
            </div>
          </div>
          <% } %>
        <% } %>
      </div>
    </div>

    
    <h2 class="pl-3 mt-4">Popular Movies</h2>

    <div class="container">
      <div class="row p-3">
        <% for( let i = 0; i < popular.results.length; i++ ) { %>

          <div class="col-md-4 col-lg-3 mb-4">
            <a href=/movie/<%= popular.results[i].id %>-<%= kebabCase(popular.results[i].title) %>>
              <img
              class="card-img-top poster_path mt-3 mb-3"
              src="<% if (popular.results[i].poster_path) {  %>
                <%= image + popular.results[i].poster_path %>
                <% } else {  %>
                /images/no-image.jpg
                <% } %>"
              alt="<%= popular.results[i].title %>"
            />
            </a>
            <div class="card-body">
              <h5 class="card-title text-truncate">
                <a href=/movie/<%= popular.results[i].id %>-<%= kebabCase(popular.results[i].title) %>
                  ><%= popular.results[i].title %>
                </a>
              </h5>
              <p class="card-text font-weight-bold">
                  <%=  new Date(popular.results[i].release_date).toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric'}) %>
              </p>
            </div>
          </div>
          <% } %>
      </div>
    </div>


    

<%- include('partials/footer') -%>
