<%- include('partials/header') -%>
  <meta
    name="description"
    content="More Movies is a website to see Trending, Netflix, Top Rated, Romance, Action, Horror and Documentaries Movies..."
  />
  <title>More Movies</title>

  <body>

    <div class="container mb-3 pt-4">
      <div class="row no-gutters">
        <div class="col-md-8">
          <h1 class=" text-uppercase heading">Trending Movies</h1>
        </div>
        <div class="col-md-4">
          <div class="container-fluid">
            <form class="d-flex" action="/search" method="POST">
              <input class="form-control mr-2" type="search" name="query" placeholder="Search for a movie..." aria-label="Search">
              <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>


    

    <div class="container">
      <div class="row p-3 row-cols-2 row-cols-md-3 row-cols-lg-5">
        <% for( let i = 0; i < trending.results.length; i++ ) { %>

          <% if (trending.results[i].poster_path) { %>
          <div class="col mb-4">
            <a href=/movie/<%= trending.results[i].id %>-<%= kebabCase(trending.results[i].title) %>>
              <img
              class="poster_path mt-3 mb-3"
              src="<%= image + trending.results[i].poster_path %>"
              class="card-img-top"
              alt="<%= trending.results[i].title %>"
            />
            </a>
            <div class="card-body">
              <h5 class="card-title text-truncate">
                <a href=/movie/<%= trending.results[i].id %>-<%= kebabCase(trending.results[i].title) %>
                  ><%= trending.results[i].title %>
                </a>
              </h5>
              <p class="card-text font-weight-bold">
                  <%=  new Date(trending.results[i].release_date).toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric'}) %>
              </p>
            </div>
          </div>
          <% } %>

        <% } %>
      </div>
    </div>

    
    <h2 class="pl-3">What's Popular</h2>

    <div class="container">
      <div class="row p-3 row-cols-2 row-cols-md-3 row-cols-lg-5">
        <% for( let i = 0; i < popular.results.length; i++ ) { %>

          <% if (popular.results[i].poster_path) { %>
          <div class="col mb-4">
            <a href=/movie/<%= popular.results[i].id %>-<%= kebabCase(popular.results[i].title) %>>
              <img
              class="poster_path mt-3 mb-3"
              src="<%= image + popular.results[i].poster_path %>"
              class="card-img-top"
              alt="<%= popular.results[i].title %>"
            />
            </a>
            <div class="card-body">
              <h5 class="card-title text-truncate">
                <a href=/movie/<%= popular.results[i].id %>-<%= kebabCase(popular.results[i].title) %>
                  ><%= popular.results[i].title %>
                </a>
              </h5>
              <p class="card-text font-weight-bold">
                  <%=  new Date(popular.results[i].release_date).toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric'}) %>
              </p>
            </div>
          </div>
          <% } %>

        <% } %>
      </div>
    </div>
    
    <h2 class="pl-3">Top Rated</h2>

    <div class="container">
      <div class="row p-3 row-cols-2 row-cols-md-3 row-cols-lg-5">
        <% for( let i = 0; i < top_rated.results.length; i++ ) { %>

          <% if (top_rated.results[i].poster_path) { %>
          <div class="col mb-4">
            <a href=/movie/<%= top_rated.results[i].id %>-<%= kebabCase(top_rated.results[i].title) %>>
              <img
              class="poster_path mt-3 mb-3"
              src="<%= image + top_rated.results[i].poster_path %>"
              class="card-img-top"
              alt="<%= top_rated.results[i].title %>"
            />
            </a>
            <div class="card-body">
              <h5 class="card-title text-truncate">
                <a href=/movie/<%= top_rated.results[i].id %>-<%= kebabCase(top_rated.results[i].title) %>
                  ><%= top_rated.results[i].title %>
                </a>
              </h5>
              <p class="card-text font-weight-bold">
                  <%=  new Date(top_rated.results[i].release_date).toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric'}) %>
              </p>
            </div>
          </div>
          <% } %>

        <% } %>
      </div>
    </div>


    

<%- include('partials/footer') -%>
