<%- include('partials/header') -%>

<h1 class="text-center text-uppercase py-3">Trending Now</h1>

<div class="container">
  <div class="row p-3 row-cols-2 row-cols-md-3 row-cols-lg-5">
    <% for( let i = 0; i < trendingMovies.results.length; i++ ) { %>

    <div class="col mb-4">
      <a href=/trending/<%= kebabCase(trendingMovies.results[i].title) %><%=
        kebabCase(trendingMovies.results[i].name) %>>
        <img
        class="poster_path mt-3"
        src="<%= image + trendingMovies.results[i].poster_path %>"
        class="card-img-top"
        alt="<%= trendingMovies.results[i].name %><%= actionMovies.results[i].title %>"
      />
      </a>
      <div class="card-body">
        <h5 class="card-title">
          <a href=/trending/<%= kebabCase(trendingMovies.results[i].title) %><%=
            kebabCase(trendingMovies.results[i].name) %>
            ><%= trendingMovies.results[i].title %><%=
            trendingMovies.results[i].name %>
          </a>
        </h5>
        <p class="card-text font-weight-bold">
          <%= trendingMovies.results[i].release_date %><%=
          trendingMovies.results[i].first_air_date %>
        </p>
        <p class="card-text text-muted">
          Vote average: <%= trendingMovies.results[i].vote_average %>
        </p>
      </div>
    </div>

    <% } %>
  </div>
</div>

<h2 class="pl-3">Netflix Originals</h2>

<div class="container">
  <div class="row p-3 row-cols-2 row-cols-md-3 row-cols-lg-5">
    <% for( let i = 0; i < netflixMovies.results.length; i++ ) { %>

    <div class="col mb-4">
      <a href=/netflix/<%= kebabCase(netflixMovies.results[i].name) %>>
        <img
        class="poster_path mt-3"
        src="<%= image + netflixMovies.results[i].poster_path %>"
        class="card-img-top"
        alt="<%= netflixMovies.results[i].name %><%= netflixMovies.results[i].title %>"
      />
      </a>
      <div class="card-body">
        <h5 class="card-title">
          <a href=/netflix/<%= kebabCase(netflixMovies.results[i].name) %>
            ><%= netflixMovies.results[i].title %><%=
            netflixMovies.results[i].name %></a
          >
        </h5>
        <p class="card-text font-weight-bold">
          <%= netflixMovies.results[i].release_date %><%=
          netflixMovies.results[i].first_air_date %>
        </p>
        <p class="card-text text-muted">
          Vote average: <%= netflixMovies.results[i].vote_average %>
        </p>
      </div>
    </div>

    <% } %>
  </div>
</div>

<h2 class="pl-3">Top Rated</h2>

<div class="container">
  <div class="row p-3 row-cols-2 row-cols-md-3 row-cols-lg-5">
    <% for( let i = 0; i < topRatedMovies.results.length; i++ ) { %>

    <div class="col mb-4">
      <a href=/top/<%= kebabCase(topRatedMovies.results[i].title) %><%=
        kebabCase(topRatedMovies.results[i].name) %>>
        <img
        class="poster_path mt-3"
        src="<%= image + topRatedMovies.results[i].poster_path %>"
        class="card-img-top"
        alt="<%= topRatedMovies.results[i].name %><%= actionMovies.results[i].title %>"
      />
      </a>
      <div class="card-body">
        <a href=/top/<%= kebabCase(topRatedMovies.results[i].title) %><%=
          kebabCase(topRatedMovies.results[i].name) %>>
          <h5 class="card-title">
            <%= topRatedMovies.results[i].title %><%=
            topRatedMovies.results[i].name %>
          </h5>
        </a>
        <p class="card-text font-weight-bold">
          <%= topRatedMovies.results[i].release_date %><%=
          topRatedMovies.results[i].first_air_date %>
        </p>
        <p class="card-text text-muted">
          Vote average: <%= topRatedMovies.results[i].vote_average %>
        </p>
      </div>
    </div>

    <% } %>
  </div>
</div>

<h2 class="pl-3">Action Movies</h2>

<div class="container">
  <div class="row p-3 row-cols-2 row-cols-md-3 row-cols-lg-5">
    <% for( let i = 0; i < actionMovies.results.length; i++ ) { %>

    <div class="col mb-4">
      <a href=/action/<%= kebabCase(actionMovies.results[i].title) %><%=
        kebabCase(actionMovies.results[i].name) %>>
        <img
        class="poster_path mt-3"
        src="<%= image + actionMovies.results[i].poster_path %>"
        class="card-img-top"
        alt="<%= actionMovies.results[i].name %><%= actionMovies.results[i].title %>"
      />
      </a>
      <div class="card-body">
        <a href=/action/<%= kebabCase(actionMovies.results[i].title) %><%=
          kebabCase(actionMovies.results[i].name) %>>
          <h5 class="card-title">
            <%= actionMovies.results[i].title %><%= actionMovies.results[i].name
            %>
          </h5>
        </a>
        <p class="card-text font-weight-bold">
          <%= actionMovies.results[i].release_date %><%=
          actionMovies.results[i].first_air_date %>
        </p>
        <p class="card-text text-muted">
          Vote average: <%= actionMovies.results[i].vote_average %>
        </p>
      </div>
    </div>

    <% } %>
  </div>
</div>

<h2 class="pl-3">Comedy Movies</h2>

<div class="container">
  <div class="row p-3 row-cols-2 row-cols-md-3 row-cols-lg-5">
    <% for( let i = 0; i < comedyMovies.results.length; i++ ) { %>

    <div class="col mb-4">
      <a href=/comedy/<%= kebabCase(comedyMovies.results[i].title) %><%=
        kebabCase(comedyMovies.results[i].name) %>>
        <img
        class="poster_path mt-3"
        src="<%= image + comedyMovies.results[i].poster_path %>"
        class="card-img-top"
        alt="<%= comedyMovies.results[i].name %><%= comedyMovies.results[i].title %>"
      />
      </a>
      <div class="card-body">
        <a href=/comedy/<%= kebabCase(comedyMovies.results[i].title) %><%=
          kebabCase(comedyMovies.results[i].name) %>>
          <h5 class="card-title">
            <%= comedyMovies.results[i].title %><%= comedyMovies.results[i].name
            %>
          </h5>
        </a>
        <p class="card-text font-weight-bold">
          <%= comedyMovies.results[i].release_date %><%=
          comedyMovies.results[i].first_air_date %>
        </p>
        <p class="card-text text-muted">
          Vote average: <%= comedyMovies.results[i].vote_average %>
        </p>
      </div>
    </div>

    <% } %>
  </div>
</div>

<h2 class="pl-3">Romance Movies</h2>

<div class="container">
  <div class="row p-3 row-cols-2 row-cols-md-3 row-cols-lg-5">
    <% for( let i = 0; i < romanceMovies.results.length; i++ ) { %>

    <div class="col mb-4">
      <a href=/romance/<%= kebabCase(romanceMovies.results[i].title) %><%=
        kebabCase(romanceMovies.results[i].name) %>>
        <img
        class="poster_path mt-3"
        src="<%= image + romanceMovies.results[i].poster_path %>"
        class="card-img-top"
        alt="<%= romanceMovies.results[i].name %><%= romanceMovies.results[i].title %>"
      />
      </a>
      <div class="card-body">
        <a href=/romance/<%= kebabCase(romanceMovies.results[i].title) %><%=
          kebabCase(romanceMovies.results[i].name) %>>
          <h5 class="card-title">
            <%= romanceMovies.results[i].title %><%= romanceMovies.results[i].name
            %>
          </h5>
        </a>
        <p class="card-text font-weight-bold">
          <%= romanceMovies.results[i].release_date %><%=
          romanceMovies.results[i].first_air_date %>
        </p>
        <p class="card-text text-muted">
          Vote average: <%= romanceMovies.results[i].vote_average %>
        </p>
      </div>
    </div>

    <% } %>
  </div>
</div>

<h2 class="pl-3">Horror Movies</h2>

<div class="container">
  <div class="row p-3 row-cols-2 row-cols-md-3 row-cols-lg-5">
    <% for( let i = 0; i < horrorMovies.results.length; i++ ) { %>

    <div class="col mb-4">
      <a href=/horror/<%= kebabCase(horrorMovies.results[i].title) %><%=
        kebabCase(horrorMovies.results[i].name) %>>
        <img
        class="poster_path mt-3"
        src="<%= image + horrorMovies.results[i].poster_path %>"
        class="card-img-top"
        alt="<%= horrorMovies.results[i].name %><%= horrorMovies.results[i].title %>"
      />
      </a>
      <div class="card-body">
        <a href=/horror/<%= kebabCase(horrorMovies.results[i].title) %><%=
          kebabCase(horrorMovies.results[i].name) %>>
          <h5 class="card-title">
            <%= horrorMovies.results[i].title %><%= horrorMovies.results[i].name
            %>
          </h5>
        </a>
        <p class="card-text font-weight-bold">
          <%= horrorMovies.results[i].release_date %><%=
          horrorMovies.results[i].first_air_date %>
        </p>
        <p class="card-text text-muted">
          Vote average: <%= horrorMovies.results[i].vote_average %>
        </p>
      </div>
    </div>

    <% } %>
  </div>
</div>

<h2 class="pl-3">Documentaries</h2>

<div class="container">
  <div class="row p-3 row-cols-2 row-cols-md-3 row-cols-lg-5">
    <% for( let i = 0; i < documentariesMovies.results.length; i++ ) { %>

    <div class="col mb-4">
      <a href=/documentaries/<%= kebabCase(documentariesMovies.results[i].title) %><%=
        kebabCase(documentariesMovies.results[i].name) %>>
        <img
        class="poster_path mt-3"
        src="<%= image + documentariesMovies.results[i].poster_path %>"
        class="card-img-top"
        alt="<%= documentariesMovies.results[i].name %><%= documentariesMovies.results[i].title %>"
      />
      </a>
      <div class="card-body">
        <a href=/documentaries/<%= kebabCase(documentariesMovies.results[i].title) %><%=
          kebabCase(documentariesMovies.results[i].name) %>>
          <h5 class="card-title">
            <%= documentariesMovies.results[i].title %><%=
            documentariesMovies.results[i].name %>
          </h5>
        </a>
        <p class="card-text font-weight-bold">
          <%= documentariesMovies.results[i].release_date %><%=
          documentariesMovies.results[i].first_air_date %>
        </p>
        <p class="card-text text-muted">
          Vote average: <%= documentariesMovies.results[i].vote_average %>
        </p>
      </div>
    </div>

    <% } %>
  </div>
</div>

<%- include('partials/footer') -%>
