<%- include('partials/header') -%>

<meta
  name="description"
  content="More Movies is a website to see Trending, Netflix, Top Rated, Romance, Action, Horror and Documentary Movies..."
/>
<title><%= capitalize(lowercase(keywordName)) %> - More Movies</title>

<script>
  function goBack() {
    window.history.back()
  }
</script>

<body>

  <div class="container pb-4">
    <button onclick="goBack()" class="btn btn-secondary my-3">Go Back</button>
    <h4>
      Search results for Keyword: "<%= capitalize(lowercase(keywordName)) %>"
    </h4>
  </div>

  <% for( let i = 0; i < info.results.length; i++ ) { %> <% if
  (info.results[i].poster_path) { %>
  <div class="mb-4 container">
    <div class="row no-gutters">
      <div class="col-md-3">
        <a
          href="/movie/<%= info.results[i].id %>/<%= kebabCase(info.results[i].title) %>"
        >
          <img
            src="<%= image + info.results[i].poster_path %>"
            class="row-search"
            alt="<%= info.results[i].title %>"
          />
        </a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
            <a
              href="/movie/<%= info.results[i].id %>/<%= kebabCase(info.results[i].title) %>"
              ><%= info.results[i].title %>
            </a>
          </h5>
          <p class="card-text">
            <small class="text-muted">
              <%= new
              Date(info.results[i].release_date).toLocaleDateString('en-US', {
              month: 'long', day: 'numeric', year: 'numeric'}) %>
            </small>
          </p>
          <p class="card-text">
            <%= info.results[i].overview.substring(0, 190) + '...' %> %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <% } %> <% } %>
</body>

<%- include('partials/footer') -%>
