<%- include('partials/header') -%>

<meta
  name="description"
  content="More Movies is a website to see Trending, Netflix, Top Rated, Romance, Action, Horror and Documentary Movies..."
/>
<title><%= capitalize(lowercase(keywordName)) %> - More Movies</title>

<script>
  function goBack() {
    window.history.back()
  }
</script>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="/">More Movies</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/netflix">Netflix Originals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/person">People</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Genres
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/action">Action</a>
            <a class="dropdown-item" href="/comedy">Comedy</a>
            <a class="dropdown-item" href="/romance">Romance</a>
            <a class="dropdown-item" href="/horror">Horror</a>
            <a class="dropdown-item" href="/documentary">Documentary</a>
          </div>
        </li>
      </ul>
      <form class="d-flex" action="/search" method="POST">
        <input
          class="form-control mr-2"
          type="search"
          name="query"
          placeholder="Search for a movie..."
          aria-label="Search"
        />
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class="container pb-4">
    <button onclick="goBack()" class="btn btn-secondary my-3">Go Back</button>
    <h4>
      Search results for Keyword: "<%= capitalize(lowercase(keywordName)) %>"
    </h4>
  </div>

  <% for( let i = 0; i < info.results.length; i++ ) { %> <% if
  (info.results[i].poster_path) { %>
  <div class="mb-4 container">
    <div class="row no-gutters">
      <div class="col-md-3">
        <a
          href="/movie/<%= info.results[i].id %>-<%= kebabCase(info.results[i].title) %>"
        >
          <img
            src="<%= image + info.results[i].poster_path %>"
            class="row-search"
            alt="<%= info.results[i].title %>"
          />
        </a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
            <a
              href="/movie/<%= info.results[i].id %>-<%= kebabCase(info.results[i].title) %>"
              ><%= info.results[i].title %>
            </a>
          </h5>
          <p class="card-text">
            <small class="text-muted">
              <%= new
              Date(info.results[i].release_date).toLocaleDateString('en-US', {
              month: 'long', day: 'numeric', year: 'numeric'}) %>
            </small>
          </p>
          <p class="card-text">
            <%= info.results[i].overview.substring(0, 190) + '...' %> %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <% } %> <% } %>
</body>

<%- include('partials/footer') -%>
