<%- include('partials/header') -%>
<meta
  name="description"
  content="<%= info.overview.substring(0, 150) + '...' %>"
/>

<title>
  <%= info.title %> (<%= new Date(info.release_date).toLocaleDateString('en-US',
  { year: 'numeric'}) %>) - More Movies
</title>

<body>
  <header
    class="banner"
    style="
      background-size: cover;
      background-image: url('<%= image + info.backdrop_path %>');
    "
  >
    <div class="overlay"></div>
    <div class="banner-contents container">
      <div>
        <div class="row no-gutters">
          <div class="col-md-4">
            <img
              src="<% if (info.poster_path) {  %>
                <%= image + info.poster_path %>
                <% } else {  %>
                /images/no-image.jpg
                <% } %>"
              class="card-img"
              alt="<%= info.title %>"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h1 class="card-title">
                <% if (info.homepage) { %>
                <a target="_blank" href="<%= info.homepage %>">
                  <%= info.title %>
                </a>
                <% } else { %>
                <a
                  target="_blank"
                  href="https://www.imdb.com/title/<%= info.imdb_id %>"
                >
                  <%= info.title %>
                </a>
                <% } %>
                <span class="text-muted"
                  >(<%= new Date(info.release_date).toLocaleDateString('en-US',
                  { year: 'numeric'}) %>)</span
                >
              </h1>

              <p class="date">
                <%= info.release_date %> <span class="dot"></span> <% for( let i
                = 0; i < info.genres.length; i++ ) { %> <%= info.genres[i].name
                + ',' %> <% } %> <span class="dot"></span>
                <%= timeConvert(info.runtime) %>
              </p>

              <p class="text-bold">
                <% for( let i = 0; i < info.videos.results.length; i++ ) { %>
                <a
                  data-fancybox
                  target="_blank"
                  href="<%= ytURL + info.videos.results[0].key %>"
                >
                  <% } %>
                  <i class="fas fa-play"></i> Play Trailer
                </a>
              </p>

              <h6 class="text-muted"><%= info.tagline %></h6>
              <h4>Overview</h4>
              <p class="card-text"><%= info.overview %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="mobile-contents">
    <div>
      <div class="row no-gutters">
        <div class="col-md-8">
          <div class="card-body">
            <div class="m-t">
              <h1 class="card-title">
                <% if (info.homepage) { %>
                <a target="_blank" href="<%= info.homepage %>">
                  <%= info.title %>
                </a>
                <% } else { %>
                <a
                  target="_blank"
                  href="https://www.imdb.com/title/<%= info.imdb_id %>"
                >
                  <%= info.title %>
                </a>
                <% } %>
                <span class="text-muted"
                  >(<%= new Date(info.release_date).toLocaleDateString('en-US',
                  { year: 'numeric'}) %>)
                </span>
              </h1>

              <p class="text-white">
                <%= info.release_date %> <span class="dot"></span> <% for( let i
                = 0; i < info.genres.length; i++ ) { %> <%= info.genres[i].name
                + ',' %> <% } %> <span class="dot"></span>
                <%= timeConvert(info.runtime) %>
              </p>
              <p class="text-bold">
                <% for( let i = 0; i < info.videos.results.length; i++ ) { %>
                <a
                  data-fancybox
                  target="_blank"
                  href="<%= ytURL + info.videos.results[0].key %>"
                >
                  <% } %>
                  <i class="fas fa-play"></i> Play Trailer
                </a>
              </p>

              <h6 class="text-muted"><%= info.tagline %></h6>
            </div>

            <h4 class="pt-5">Overview</h4>
            <p class="card-text"><%= info.overview %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-5 content">
    <div class="row no-gutters">
      <div class="col-md-9">
        <div class="container mt-5">
          <h4>Top Billed Cast</h4>

          <div class="rows pl-3">
            <% for (let i = 0; i < info.credits.cast.length; i++) { %>
            <figure class="p-2">
              <a
                href="/person/<%= info.credits.cast[i].id %>-<%= kebabCase(info.credits.cast[i].name) %>"
              >
                <img
                  class="row-cast"
                  src="<% if (info.credits.cast[i].profile_path) {  %>
                    <%= image + info.credits.cast[i].profile_path %>
                    <% } else {  %>
                    /images/person-placeholder.jpg
                    <% } %>"
                  alt="..."
                />
              </a>
              <figcaption class="mt-2">
                <a
                  href="/person/<%= info.credits.cast[i].id %>-<%= kebabCase(info.credits.cast[i].name) %>"
                >
                  <strong class="">
                    <%= info.credits.cast[i].original_name %>
                  </strong>
                </a>
                <p><%= info.credits.cast[i].character %></p>
              </figcaption>
            </figure>
            <% } %>
          </div>
        </div>

        <div class="container mt-5">
          <h4>Gallery</h4>

          <div class="rows pl-3">
            <% for (let i = 0; i < info.images.backdrops.length; i++) { %> <% if
            (info.images.backdrops[i].file_path) { %>
            <figure>
              <img
                class="row-media"
                src="<%= image + info.images.backdrops[i].file_path %>"
                alt=""
              />
              <p></p>
            </figure>
            <% } %> <% } %>
          </div>
        </div>

        <div class="container mt-5 mb-5">
          <h4>Recommendations</h4>

          <div class="rows pl-3">
            <% for (let i = 0; i < info.recommendations.results.length; i++) {
            %> <% if (info.recommendations.results[i].backdrop_path) { %>
            <figure>
              <a
                href="/movie/<%= info.recommendations.results[i].id %>-<%= kebabCase(info.recommendations.results[i].title) %>"
                ><img
                  class="row-reco"
                  src="<%= image + info.recommendations.results[i].backdrop_path %>"
                  alt=""
              /></a>
              <figcaption>
                <a
                  href="/movie/<%= info.recommendations.results[i].id %>-<%= kebabCase(info.recommendations.results[i].title) %>"
                >
                  <p class="mt-2">
                    <%= info.recommendations.results[i].title %>
                  </p>
                </a>
              </figcaption>
            </figure>
            <% } %> <% } %>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-5">
        <div class="container mt-5">
          <strong>Status</strong>
          <p><%= info.status %></p>

          <strong>Original Language</strong>
          <p><%= getLanguageName.getName(info.original_language) %></p>

          <strong>Budget</strong>
          <p>$<%= info.budget.toLocaleString() %></p>

          <strong>Revenue</strong>
          <p>$<%= info.revenue.toLocaleString() %></p>

          <strong>Production Companies</strong>
          <ul class="list-inline">
            <% for( let i = 0; i < info.production_companies.length; i++ ) { %>
            <li class="list-inline-item my-1">
              <span><%= info.production_companies[i].name %>,</span>
            </li>
            <% } %>
          </ul>

          <strong>Production Countries</strong>
          <ul class="list-inline">
            <% for( let i = 0; i < info.production_countries.length; i++ ) { %>
            <li class="list-inline-item my-1">
              <span><%= info.production_countries[i].name %>,</span>
            </li>
            <% } %>
          </ul>

          <strong>Keywords</strong>
          <ul class="list-inline mt-2">
            <% for( let i = 0; i < info.keywords.keywords.length; i++ ) { %>
            <li class="list-inline-item my-1">
              <a
                href="/keyword/<%= info.keywords.keywords[i].id %>-<%= kebabCase(info.keywords.keywords[i].name) %>/movie"
              >
                <span class="bg-secondary p-1 rounded text-dark">
                  <%= info.keywords.keywords[i].name %>
                </span>
              </a>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <%- include('partials/footer') -%>
</body>
