<%- include('partials/header') -%>
  <meta
    name="description"
    content="More Movies is a website to see info, Netflix, Top Rated, Romance, Action, Horror and Documentary Movies..."
  />
  <title>Popular People - More Movies</title>
  <script>
    function goBack() {
      window.history.back()
    }
  </script>

  <body>

    <div class="pl-3 mt-4">
      <button onclick="goBack()" class="btn btn-secondary">Go Back</button>
      <h2>Popular People</h2>
    </div>

    <div class="container">
      <div class="row p-3">
        <% for( let i = 0; i < info.results.length; i++ ) { %>

          <div class="col-md-4 col-lg-3 mb-4">
            <a href=/person/<%= info.results[i].id %>-<%= kebabCase(info.results[i].name) %>>
              <img
                class="card-img-top poster_path mt-3 mb-3"
                src="<% if (info.results[i].profile_path) {  %>
                  <%= image + info.results[i].profile_path %>
                  <% } else {  %>
                  /images/person-placeholder.jpg
                  <% } %>"
                  style="background-color: #e9edee;"
                alt="<%= info.results[i].name %>"
              />
            </a>
            <div class="card-body mtc">
              <h5 class="card-title text-truncate">
                <a href=/person/<%= info.results[i].id %>-<%= kebabCase(info.results[i].name) %>
                  ><%= info.results[i].name %>
                </a>
              </h5>
            </div>
          </div>
          <% } %>
      </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item <% if (page <= 1) { %>
            disabled
          <% } %>">
            <a class="page-link" href="/person/page=<%= page - 1 %>">Previous</a>
          </li>
          <li class="page-item <% if (page == info.total_pages) { %>
            disabled
          <% } %>">
            <a class="page-link" href="/person/page=<%= ++page %>">Next</a>
          </li>
        </ul>
    </nav>


<%- include('partials/footer') -%>
